:root {
    --background-primary: rgb(33, 33, 33);
    --background-primary-hover: rgb(84, 84, 84);
    --background-secondary: rgb(66, 66, 66);
    --font-primary: white;
    --font-secondary: lightgray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--font-primary);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    height: 100vh;
    background-color: var(--background-primary);
    display: grid;
    grid-template-rows: 200px 1fr 100px;
    grid-template-columns: 1fr;
    justify-items: center;
}

.header {
    font-size: 96px;
}

.form-title {
    font-size: 48px;
    margin-bottom: 30px;
}

.form {
    margin-left: 16px;
}

.name-input-label,
.sign-input-label {
    font-size: 24px;
    margin-right: 16px;
}

.sign-input-label {
    margin-right: 36px;
}

#name-input,
#sign-input {
    margin-bottom: 16px;
    background-color: var(--background-secondary);
    font-size: 22px;
}

#name-input {
    width: 50%;
}

.form-hidden {
    display: none;
}

.restart-btn,
.form-btn,
.playermenu-btn {
    background-color: var(--background-secondary);
    padding: 16px 32px;
    font-size: 24px;
    margin-top: 16px;
    cursor: pointer;
}

.form-btn {
    margin-left: 90px;
}

.restart-btn:hover,
.form-btn:hover,
.playermenu-btn:hover {
    background-color: var(--background-primary-hover);
}

.board {
    display: grid;
    grid-template-rows: repeat(3, 150px);
    grid-template-columns: repeat(3, 150px);
    display: none;
}

.cell {
    align-self: center;
    justify-self: center;
    border: 1px solid var(--font-primary);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}

.cell-active {
    cursor: pointer;
    background-color: var(--background-primary)
}

.cell-disabled {
    cursor: default;
    background-color: var(--background-primary-hover)
}

.cell:hover,
.hovered {
    background-color: var(--background-primary-hover);
}

.winner-text {
    margin-top: 15px;
    text-align: center;
    font-size: 24px;
}

.restart-btn-container {
    display: flex;
    justify-content: space-around;
}

.footer {
    color: var(--font-secondary);
    margin-bottom: 10px;
    align-self: flex-end;
}